.my_card {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.my_contacts_btns {
    a {
        text-decoration: none;
        margin-right: 15px;
        i{
            color: $red;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 50px;
            &:hover{
                filter: brightness(0.8);
            }
        }
    }
}